extends ../../layout.pug
block contenido
    h1= imagen.title
    img(src="/public/imagenes/"+imagen._id+"."+imagen.extension)
    if(typeof imagen.creator != "undefined")
    p El usuario que subio la imagen es:  #{imagen.creator.email}